<div menu class="fixed right-0 top-0 tl t-3 all ease o-0 bg-black-80 w5 h-100">
  <ul class="mw4 center">
    <ul class="mt5">
      {% for item in site.data.menu %}
        <a class="white pb2 t-3 all ease hover-red db" href="{{ item.url }}" target="_blank">
          <li>{{ item.title }}</li>
        </a>
      {% endfor %}
    </ul>

    <ul class="mt4">
      {% for item in site.data.picturehouse-sites %}
        <a class="white pb2 t-3 all ease hover-red db" href="{{ item.url }}" target="_blank">
          <li>{{ item.name }}</li>
        </a>
      {% endfor %}
    </ul>
  </ul>
</div>
