<div menu class="fixed left-0 top-0 tc t-3 all ease o-0 bg-black-80 w-100 h-100">
  <ul class="mw6 center">
    <ul class="mt5">
      {% for item in site.data.menu %}
        <a class="white pa3" href="{{ item.url }}" target="_blank">
          <li>{{ item.title }}</li>
        </a>
      {% endfor %}
    </ul>

    <ul class="mt4">
      {% for item in site.data.picturehouse-sites %}
        <a class="white pa3" href="{{ item.url }}" target="_blank">
          <li>{{ item.name }}</li>
        </a>
      {% endfor %}
    </ul>
  </ul>
</div>
