body {
  margin: 0;
  font-family: var(--sans-serif);
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
}

input,
textarea,
button,
select,
label,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.no-tap-highlight {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.no-pointer-events {
  pointer-events: none;
}

li {
  list-style: none;
}

.pointer {
  cursor: pointer;
}

:focus {
  outline: none;
}

.w6 {
  width: var(--width-6);
}

.t-3 {
  transition-duration: 0.3s!important;
}

.t-5 {
  transition-duration: 0.5s!important;
}

.t-10 {
  transition-duration: 1s!important;
}

.all {
  transition-property: all!important;
}

.ease {
  transition-timing-function: ease!important;
}

.delay-fade {
  animation: fade 2.7s ease;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}

@keyframes fade {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
